# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/
include/

# Virtual environments
.venv/
venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Misc
.env
.lock
!uv.lock
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# uv
bin
lib
lib64
*.cfg
*.h
